@page
@model RazorPagesMovie.Pages.Forms.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewData["Title"] = "Personal Info";
    }
    <!-- Css -->
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/theme/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/theme/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/theme/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/theme/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/theme/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/theme/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/theme/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css">
    <!-- Select Country -->
    @* <link rel="stylesheet" href="~/theme/plugins/country-picker-flags/build/css/countrySelect.min.css"> *@
    <link rel="stylesheet" href="~/theme/plugins/bootstrap-select-country-4.1.1/dist/css/bootstrap-select-country.min.css">

    <!-- Java Script -->
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/theme/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/theme/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/theme/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/theme/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- Select Country -->
    @* <script src="~/theme/plugins/country-picker-flags/build/js/countrySelect.min.js"></script> *@
    <script src="~/theme/plugins/bootstrap-select-country-4.1.1/dist/js/bootstrap-select-country.min.js"></script>

    <!-- Test -->

</head>

<body class="hold-transition sidebar-mini">
<div class="content-wrapper">
    <!-- Head row -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4>Personal Information</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Personal Info Form</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
     <!-- ./row -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-certificate" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Certificate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-jobtitle" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Job Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Settings</a>
                    </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                        <!-- Profile body-->
                        <form role="form">
                            <div class="card-body">
                                <!-- Name -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="ChineseName">Chinese Name</label>
                                            <input type="name" class="form-control" id="ChineseName" placeholder="Chinese name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="EnglishName">English Name</label>
                                            <input type="name" class="form-control" id="EnglishName" placeholder="English name">
                                        </div>
                                    </div>
                                </div>
                                <!-- Sex & Marital -->
                                <div class="row">
                                    <!-- Sex -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Sex</label>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">Male</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Marital -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Marital</label>
                                            <select class="form-control select2" style="width: 100%;">
                                                <option selected="selected">Single</option>
                                                <option>Single</option>
                                                <option>Married</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Country & Date-->
                                <div class="row">
                                    <!-- Country -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <div>
                                                <select class="selectpicker countrypicker" data-flag="true" data-live-search="true" data-default="TW" style="width: 100%;"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Date -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Birth Date</label>
                                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                                <div class="input-group-prepend" data-target="#reservationdate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" placeholder="YYYY/MM/DD"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Identity & ID Number-->
                                <div class="row">
                                    <!-- Identity -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Identity</label>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                                <select class="form-control select2" >
                                                    <option selected="selected">Identity Card</option>
                                                    <option>Passport</option>
                                                    <option>Resident Certificate</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ID Number -->
                                    <div class="col-sm-6">
                                        <label for="IdNumber">ID Number</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="IdNumber" placeholder="ID Number">
                                            </div>
                                    </div>
                                </div>
                                <!-- Phone & Email-->
                                <div class="row">
                                    <!-- Phone -->
                                    <div class="col-sm-6">
                                        <label>Phone</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                </div>
                                                <input type="number" class="form-control" placeholder="(__)-______-(____)"/>
                                            </div>
                                    </div>
                                    <!-- Email -->
                                    <div class="col-sm-6">
                                        <label>Email</label>
                                        <div class="input-group md-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <!-- Address & Postal code-->
                                <div class="row">
                                    <!-- Postal code -->
                                    <div class="col-sm-2">
                                        <label>Postal code</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-flag"></i></span>
                                                </div>
                                                <input type="number" class="form-control" placeholder="(______)"/>
                                            </div>
                                    </div>
                                    <!-- Address -->
                                    <div class="col-sm-10">
                                        <label>Address</label>
                                        <div class="input-group md-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-home"></i></span>
                                            </div>
                                            <input type="address" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-certificate" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                        <!-- Certificate body-->
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-jobtitle" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                        <!-- Jobtitle body-->
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                        <!-- Setting body-->
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.card -->
</div>



<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: "YYYY/MM/DD"
    })
    //CountryPicker
    $('.countrypicker').select2().countrypicker();


  })
</script>
</body>
</html>